.events div {
    background-color: var(--ivy);
    width: 80%;
    margin: 10px auto;
    padding: 16px;
}

.events p {
    color: white;
}

.events h3 {
    color: white;
}

.events h4 {
    color: white;
}